<!doctype html>
<html lang="en">
<head>
    <title>Mike Bivens</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Local CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Devicon Implementation -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.10.1/devicon.min.css">
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <div id="navbar" class="h-100 sticky-top">
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary"></button>
                </div>
                <div class="bg-wrap text-center py-2">
                    <div class="user-logo">
                        <div><img src="{{ url_for('static', filename='images/me_square.jpg') }}" class="img"></div>
                        <h3>Mike Bivens</h3>
                        <span>
                            He/Him
                            Full Stack Developer
                            Freelance Web3 Operator
                        </span>
                    </div>
                </div>
                <ul class="list-unstyled components mb-5 overflow-auto">
                    <li>
                        <a href="#techpro"><span class="mr-3"></span> Technical Projects</a>
                    </li>
                    <li>
                        <a href="#tech-skills"><span class="mr-3"></span> Technical Skills</a>
                    </li>
                    <li>
                        <a href="#inter-skills"><span class="mr-3"></span> Interpersonal Skills</a>
                    </li>
                    <li>
                        <a href="#pro-xp"><span class="mr-3"></span> Professional Experience</a>
                    </li>
                    <li>
                        <a href="#per-xp"><span class="mr-3"></span> Personal Experience</a>
                    </li>
                    <li>
                        <a href="#ntpro"><span class="mr-3"></span> Non-Technical Projects</a>
                    </li>
                    <li>
                        <a href="#education"><span class="mr-3"></span> Education</a>
                    </li>
                    <li>
                        <a href="#contact"><span class="mr-3"></span> Contact</a>
                    </li>
                    <li>
                        <a href="#"><span class="mr-3"><small class="d-flex align-items-center justify-content-center"></small></span> Download Resume</a>
                    </li>
                    <li>
                        <ul class="list-unstyled list-inline text-center">
                            <li class="list-inline-item"><a href="https://linkedin.com/in/msbivens/"><img src="{{ url_for('static', filename='images/linkedin.png') }}"></a></li>
                            <li class="list-inline-item"><a href="https://github.com/MSBivens"><img src="{{ url_for('static', filename='images/github.png') }}"></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/MSBivens_"><img src="{{ url_for('static', filename='images/twitter.png') }}"></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

    <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <!-- Description -->
            <section>
                <p>My name is Mike, I am breaking into the tech industry and looking to work with web3 technology. Through my background in higher education, I have developed organizational and interpersonal skills that support strong critical assessment and advanced my ability to work with dynamic teams, foster leadership, and encourage quality engagement. I have also led teams as a project manager working with NFTs and metaverses.</p>
            </section>
            <!-- Technical Projects -->
            <section id="techpro">
                <h2 class="mb-4">Technical Projects</h2>
                <div class="container">
                    <div class="row">
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Personal Portfolio Project</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tools</td>
                                    <td>HTML, CSS, JS, Python, Flask, Bootstrap</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://github.com/MSBivens/personal-portfolio-website" class="text-body">github.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>A portfolio website used to display various experiences and projects.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Doors vs Wheels</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tools</td>
                                    <td>HTML, CSS, JS, Python, Flask, Bootstrap</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://github.com/MSBivens/doors_vs_wheels" class="text-body">github.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Inspired by the TikTok trend, are there more doors or wheels in the world?</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Learn Web3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tools</td>
                                    <td>HTML, CSS, JS, Python, Flask, Tailwind</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://github.com/MSBivens/learn_web3" class="text-body">github.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>A resource website for learning about web3.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Bootcamp Algorithms</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tools</td>
                                    <td>Python</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://github.com/MSBivens/bootcamp_algorithms" class="text-body">github.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Collection of code for the algorithm course with Coding Dojo.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Algo Practice</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tools</td>
                                    <td>JS, Python, Solidity</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://github.com/MSBivens/Algo-Practice" class="text-body">github.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>A repo of code from solving algorithms.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">TBD</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tools</td>
                                    <td>TBD</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="#" class="text-body">github.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>TBD</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p>Please see <a href="https://github.com/MSBivens">GitHub</a> for a full list of projects. </p>
            </section>
            <!-- Technical Skills -->
            <section id="tech-skills">
                <h2 class="mb-4">Technical Skills</h2>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML">
                        </div>
                        <div class="col">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript">
                        </div>
                        <div class="col">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" alt="Python">
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original-wordmark.svg" alt="Flask">
                        </div>
                        <div class="col">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" alt="SQL">
                        </div>
                        <div class="col">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="Bootstrap">
                        </div>
                    </div>
                </div>
            </section>
            <!-- Interpersonal Skills -->
            <section id="inter-skills">
                <h2 class="mb-4">Interpersonal Skills</h2>
                <div class="container">
                    <div class="row gy-3 mb-4">
                        <div class="col d-flex mb-4">
                            <div class="position-relative">
                                <div class="icon"><link href='https://css.gg/album.css' rel='stylesheet'><i class="gg-album"></i></div>
                                <h4>Agile Project Management</h4>
                                <p>Experience with leading global team using Agile management practices.</p>
                            </div>
                        </div>
                        <div class="col d-flex mb-4">
                            <div class="position-relative">
                                <div class="icon"><link href='https://css.gg/community.css' rel='stylesheet'><i class="gg-community"></i></div>
                                <h4>Community Development</h4>
                                <p>Guided creation and growth of communities around brands and shared goals.</p>
                            </div>
                        </div>
                        <div class="col d-flex mb-4">
                            <div class="position-relative">
                                <div class="icon"><link href='https://css.gg/calendar-dates.css' rel='stylesheet'><i class="gg-calendar-dates"></i></div>
                                <h4>Time Management</h4>
                                <p>Successfully managed several projects concurrently with multiple teams.</p>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col d-flex mb-4">
                            <div class="position-relative">
                                <div class="icon"><link href='https://css.gg/attribution.css' rel='stylesheet'><i class="gg-attribution"></i></div>
                                <h4>Conflict Communication</h4>
                                <p>Capable of finding a balance between conflicting opinions and determining a shared path forward.</p>
                            </div>
                        </div>
                        <div class="col d-flex mb-4">
                            <div class="position-relative">
                                <div class="icon"><link href='https://css.gg/list-tree.css' rel='stylesheet'><i class="gg-list-tree"></i></div>
                                <h4>Decision Making</h4>
                                <p>Able to make decisive decisions when appropriate.</p>
                            </div>
                        </div>
                        <div class="col d-flex mb-4">
                            <div class="position-relative">
                                <div class="icon"><link href='https://css.gg/arrow-long-right-c.css' rel='stylesheet'><i class="gg-arrow-long-right-c"></i></div>
                                <h4>Strategic Planning</h4>
                                <p>Proficient with utilising feedback and making adjustments.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Professional Experience -->
            <section id="pro-xp">
                <h2 class="mb-4">Professional Experience</h2>
                <div class="container">
                    <div class="row">
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Coding Dojo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>Developer in Training</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022 - Present</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://www.codingdojo.com/" class="text-body">codingdojo.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>A software development boot camp teaching web fundamentals and a full Python stack.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Freelance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>Project Manager, Web3 Operator</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2021 - Present</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://www.msbivens.com/" class="text-body">msbivens.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Project management and various web3 operating services.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Bullseye Contracting</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>Co-Owner</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2017 - 2021</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>A roofing and construction contracting business.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">UT Health San Antonio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>Student Success Center Intern</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2021</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="ttps://www.uthscsa.edu/academics/nursing/student-success" class="text-body">uthscsa.edu</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Provider of services to support nursing students in academic and professional development.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Texas State University</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>GA for Community Standards</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2020 - 2021</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://studentinvolvement.txstate.edu/" class="text-body">txstate.edu</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Supporting students with service opportunities, student organizations, and activities.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">University of Idaho</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>FSL Coordinator</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2019 - 2020</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://www.uidaho.edu/student-life/greek" class="text-body">uidaho.edu</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Center supporting campus fraternity and sorority organizations.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- Personal Experience -->
            <section id="per-xp">
                <h2 class="mb-4">Personal Experience</h2>
                <div class="container">
                    <div class="row">
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">TheDrop</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>Founder</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2021 - 2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://www.thedrop.news/" class="text-body">thedrop.news</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Weekly newsletter covering NFT events, news, tools, and resources for collectors</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Publish0x</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>Journey to Web3</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022 - Present</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://www.publish0x.com/journey-to-web3" class="text-body">publish0x.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>A blog series following my journey from coding newbie to working in web3.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Delta Sigma Phi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>Lead Advisor</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2021 - Present</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://www.deltasigvandals.org/" class="text-body">deltasigvandals.org</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Leading a team of advisors that provide support for a collegiate organization.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- Non-Technical Projects -->
            <section id="ntpro">
                <h2 class="mb-4">Non-Technical Projects</h2>
                <div class="container">
                    <div class="row">
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">LifeOfMuskNFT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>Project Manager</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2021 - 2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://lifeofmusknft.com/" class="text-body">lifeofmusknft.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Led global team in development of NFT project with a dedicated Decentraland exhibit.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Texas State University</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>SOP Manual Development</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2021</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://studentinvolvement.txstate.edu/" class="text-body">txstate.edu</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Led the development of departmental SOPs for conduct investigations and office policies.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">UT Health San Antonio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>Pro Devo Modules</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2021</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="ttps://www.uthscsa.edu/academics/nursing/student-success" class="text-body">uthscsa.edu</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Redeveloped a collection of educational and professional development modules for a digital format.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- Education -->
            <section id="education">
                <h2 class="mb-4">Education</h2>
            </section>
            
            <h2 class="mb-4">Sidebar #09</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    
    
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>