<!doctype html>
<html lang="en">
<head>
    <title>Mike Bivens</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Local CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Devicon Implementation -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.10.1/devicon.min.css">
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <div id="navbar" class="h-100 sticky-top">
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary"></button>
                </div>
                <div class="bg-wrap text-center py-2">
                    <div class="user-logo">
                        <div><img src="{{ url_for('static', filename='images/me_square.jpg') }}" class="img"></div>
                        <h3>Mike Bivens</h3>
                        <span>
                            He/Him
                            Full Stack Developer
                            Freelance Web3 Operator
                        </span>
                    </div>
                </div>
                <ul class="list-unstyled components mb-5 overflow-auto">
                    <li>
                        <a href="#techpro"><span class="mr-3"></span> Technical Projects</a>
                    </li>
                    <li>
                        <a href="#tech-skills"><span class="mr-3"></span> Technical Skills</a>
                    </li>
                    <li>
                        <a href="#inter-skills"><span class="mr-3"></span> Interpersonal Skills</a>
                    </li>
                    <li>
                        <a href="#pro-xp"><span class="mr-3"></span> Professional Experience</a>
                    </li>
                    <li>
                        <a href="#per-xp"><span class="mr-3"></span> Personal Experience</a>
                    </li>
                    <li>
                        <a href="#ntpro"><span class="mr-3"></span> Non-Technical Projects</a>
                    </li>
                    <li>
                        <a href="#education"><span class="mr-3"></span> Education</a>
                    </li>
                    <li>
                        <a href="#contact"><span class="mr-3"></span> Contact</a>
                    </li>
                    <li>
                        <a href="#"><span class="mr-3"><small class="d-flex align-items-center justify-content-center"></small></span> Download Resume</a>
                    </li>
                    <li>
                        <ul class="list-unstyled list-inline text-center">
                            <li class="list-inline-item"><a href="https://linkedin.com/in/msbivens/"><img src="{{ url_for('static', filename='images/linkedin.png') }}"></a></li>
                            <li class="list-inline-item"><a href="https://github.com/MSBivens"><img src="{{ url_for('static', filename='images/github.png') }}"></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/MSBivens_"><img src="{{ url_for('static', filename='images/twitter.png') }}"></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

    <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <!-- Description -->
            <section>
                <p>My name is Mike, I am breaking into the tech industry and looking to work with web3 technology. Through my background in higher education, I have developed organizational and interpersonal skills that support strong critical assessment and advanced my ability to work with dynamic teams, foster leadership, and encourage quality engagement. I have also led teams as a project manager working with NFTs and metaverses.</p>
            </section>
            <!-- Technical Projects -->
            <section id="techpro">
                <h2 class="mb-4">Technical Projects</h2>
                <div class="container">
                    <div class="row">
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Personal Portfolio Project</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tools</td>
                                    <td>HTML, CSS, JS, Python, Flask, Bootstrap</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://github.com/MSBivens/personal-portfolio-website" class="text-body">github.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>A portfolio website used to display various experiences and projects.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Doors vs Wheels</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tools</td>
                                    <td>HTML, CSS, JS, Python, Flask, Bootstrap</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://github.com/MSBivens/doors_vs_wheels" class="text-body">github.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Inspired by the TikTok trend, are there more doors or wheels in the world?</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Learn Web3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tools</td>
                                    <td>HTML, CSS, JS, Python, Flask, Tailwind</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://github.com/MSBivens/learn_web3" class="text-body">github.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>A resource website for learning about web3.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Bootcamp Algorithms</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tools</td>
                                    <td>Python</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://github.com/MSBivens/bootcamp_algorithms" class="text-body">github.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>Collection of code for the algorithm course with Coding Dojo.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">Algo Practice</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tools</td>
                                    <td>JS, Python, Solidity</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="https://github.com/MSBivens/Algo-Practice" class="text-body">github.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>A repo of code from solving algorithms.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table w-25 col mr-4">
                            <thead>
                                <tr>
                                    <th colspan="2">TBD</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tools</td>
                                    <td>TBD</td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>http:/</td>
                                    <td><a href="#" class="text-body">github.com</a></td>
                                </tr>
                                <tr>
                                    <td>Headline</td>
                                    <td>TBD</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p>Please see <a href="https://github.com/MSBivens">GitHub</a> for a full list of projects. </p>
            </section>
            <!-- Technical Skills -->
            <section id="tech-skills">
                <h2 class="mb-4">Technical Skills</h2>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML">
                        </div>
                        <div class="col">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript">
                        </div>
                        <div class="col">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" alt="Python">
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original-wordmark.svg" alt="Flask">
                        </div>
                        <div class="col">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" alt="SQL">
                        </div>
                        <div class="col">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="Bootstrap">
                        </div>
                    </div>
                </div>
            </section>
            <!-- Interpersonal Skills -->
            <section id="inter-skills">
                <h2 class="mb-4">Interpersonal Skills</h2>
                <div class="container text-center">
                    <div class="row">
                        <!-- centering icons -->
                        <div class="col">
                            <link href='https://css.gg/album.css' rel='stylesheet'><i class="gg-album"></i>
                            <p>Agile Project Management</p>
                        </div>
                        <div class="col">
                            <link href='https://css.gg/community.css' rel='stylesheet'><i class="gg-community"></i>
                            <p>Community Development</p>
                        </div>
                        <div class="col">
                            <link href='https://css.gg/calendar-dates.css' rel='stylesheet'><i class="gg-calendar-dates"></i>
                            <p>Time Management</p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <link href='https://css.gg/attribution.css' rel='stylesheet'><i class="gg-attribution"></i>
                            <p>Conflict Communication</p>
                        </div>
                        <div class="col">
                            <link href='https://css.gg/list-tree.css' rel='stylesheet'><i class="gg-list-tree"></i>
                            <p>Decision Making</p>
                        </div>
                        <div class="col">
                            <link href='https://css.gg/arrow-long-right-c.css' rel='stylesheet'><i class="gg-arrow-long-right-c"></i>
                            <p>Strategic Planning</p>
                        </div>
                    </div>
                </div>
            </section>
            
            
            <h2 class="mb-4">Sidebar #09</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    
    
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>